html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

table {
    border-collapse: collapse;
}

.container-flex {
    display: flex; //?
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 1px;
   // padding-right: 15px;
   // padding-left: 15px; 
    @each $key, $value in $cols {
        &-#{$key} {
            @extend .col;
            -ms-flex: 0 0 $value;
            flex: 0 0 $value;
            max-width: $value;
        }
    }
    &-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none; 
    }
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
