/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.bordered {
  border: 1px solid black; }

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important; }

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important; }

.flex-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important; }

.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }

.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important; }

.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important; }

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.align-items-baseline {
  -webkit-box-align: baseline !important;
  -ms-flex-align: baseline !important;
  align-items: baseline !important; }

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important; }

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important; }

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important; }

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important; }

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important; }

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important; }

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important; }

.align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important; }

.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important; }

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important; }

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important; }

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important; }

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

table {
  border-collapse: collapse; }

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 1px; }
  .col-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%; }

.clearfix::after {
  display: block;
  clear: both;
  content: ''; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-none {
  float: none !important; }

.margin-8 {
  margin: 8px !important; }

.margin-12 {
  margin: 12px !important; }

.margin-16 {
  margin: 16px !important; }

.margin-20 {
  margin: 20px !important; }

.margin-24 {
  margin: 24px !important; }

.margin-28 {
  margin: 28px !important; }

.margin-32 {
  margin: 32px !important; }

.margin-36 {
  margin: 36px !important; }

.margin-40 {
  margin: 40px !important; }

.padding-8 {
  margin: 8px !important; }

.padding-12 {
  margin: 12px !important; }

.padding-16 {
  margin: 16px !important; }

.padding-20 {
  margin: 20px !important; }

.padding-24 {
  margin: 24px !important; }

.padding-28 {
  margin: 28px !important; }

.padding-32 {
  margin: 32px !important; }

.padding-36 {
  margin: 36px !important; }

.padding-40 {
  margin: 40px !important; }

.pos-abs {
  position: absolute; }

.pos-fix {
  position: fixed; }

.pos-rel {
  position: relative; }

.pos-st {
  position: static; }

.pos-inh {
  position: inherit; }

.btn, .btn-big, .btn-small, .btn-disabled, .btn-primary, .btn-secondary, .btn-warning, .btn-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  min-width: 50px;
  max-height: 50px;
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
  background-color: white;
  color: black;
  border: 2px solid darkblue;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .btn:focus, .btn-big:focus, .btn-small:focus, .btn-disabled:focus, .btn-primary:focus, .btn-secondary:focus, .btn-warning:focus, .btn-form:focus {
    outline: none;
    background-color: lightblue;
    border: 2px solid darkblue; }
  .btn:hover, .btn-big:hover, .btn-small:hover, .btn-disabled:hover, .btn-primary:hover, .btn-secondary:hover, .btn-warning:hover, .btn-form:hover {
    background-color: lightblue;
    border: 2px solid darkblue; }
  .btn:active, .btn-big:active, .btn-small:active, .btn-disabled:active, .btn-primary:active, .btn-secondary:active, .btn-warning:active, .btn-form:active {
    background-color: darkblue;
    border: 2px solid lightblue;
    color: white; }
  .btn-big {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding: 8px; }
  .btn-small {
    font-size: 12px;
    line-height: 12px;
    text-align: center; }
  .btn-disabled {
    background-color: darkgrey;
    border: 2px solid darkgrey; }
    .btn-disabled:focus {
      outline: none;
      background-color: darkgrey;
      border: 2px solid darkgrey; }
    .btn-disabled:hover {
      background-color: darkgrey;
      border: 2px solid darkgrey;
      cursor: not-allowed; }
    .btn-disabled:active {
      background-color: darkgrey;
      border: 2px solid darkgrey;
      color: black;
      cursor: not-allowed; }
  .btn-warning {
    background-color: #ff9393;
    border: 2px solid darkred; }
    .btn-warning:focus {
      outline: none;
      background-color: red;
      border: 2px solid darkred; }
    .btn-warning:hover {
      background-color: red;
      border: 2px solid darkred; }
    .btn-warning:active {
      background-color: darkred;
      border: 2px solid red;
      color: white; }
  .btn-form {
    width: 33%;
    margin: 4px; }

form {
  display: block; }

label {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin-top: 8px; }

input {
  margin: 4px; }
  input[type='text'] {
    font-size: 24px;
    line-height: 24px;
    text-align: center; }
  input[type='password'] {
    font-size: 24px;
    line-height: 24px;
    text-align: center; }

.input-disabled {
  background-color: darkgrey; }
  .input-disabled:focus {
    outline: none;
    background-color: darkgrey; }
  .input-disabled:hover {
    background-color: darkgrey;
    cursor: not-allowed; }
  .input-disabled:active {
    background-color: darkgrey;
    color: black;
    cursor: not-allowed; }

.input-error {
  border: 2px solid red; }
  .input-error:focus {
    border: none;
    border-width: 2px;
    border-style: inset; }
  .input-error:active {
    border: none;
    border-width: 2px;
    border-style: inset; }

h1 {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 12px; }

h2 {
  font-size: 22px;
  margin-top: 22px;
  margin-bottom: 11px; }

h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px; }

h4 {
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 9px; }

h5 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px; }

h6 {
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 7px; }

.header {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: aquamarine; }

.footer {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  background-color: darkolivegreen; }
